// _sass/color_schemes/dark.scss
$body-background-color: #282a36;
$sidebar-color: #1e1f29;
$border-color: #44475a;

$body-text-color: #f8f8f2;
$body-heading-color: #bd93f9;
$nav-child-link-color: #f8f8f2;
$search-result-preview-color: #6272a4;

$link-color: #bd93f9;
$btn-primary-color: #bd93f9;
$base-button-color: #44475a;

$code-background-color: #44475a;
$search-background-color: #282a36;
$table-background-color: #282a36;
$feedback-color: #282a36;
