{% assign sorted_pages = site.html_pages | sort: "nav_order" %}

<ul class="nav-list">
  {% for page in sorted_pages %}
    {% if page.title and page.nav_exclude != true %}
      {% if page.parent == nil %}
        <li class="nav-list-item{% if page.url == page.url or page.parent == page.title or page.grand_parent == page.title %} active{% endif %}">
          {% if page.has_children == true %}
            <a href="#" class="nav-list-expander" aria-label="toggle links in {{ page.title }}">
              <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
            </a>
          {% endif %}
          <a href="{{ page.url | absolute_url }}" class="nav-list-link{% if page.url == page.url %} active{% endif %}">{{ page.title }}</a>
          {% if page.has_children == true %}
            {% assign children_list = sorted_pages | where: "parent", page.title %}
            <ul class="nav-list">
            {% for child in children_list %}
              {% if child.title and child.nav_exclude != true %}
                <li class="nav-list-item {% if page.url == child.url %} active{% endif %}">
                  {% if child.has_children == true %}
                    <a href="#" class="nav-list-expander" aria-label="toggle links in {{ child.title }}">
                      <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
                    </a>
                  {% endif %}
                  <a href="{{ child.url | absolute_url }}" class="nav-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                  {% if child.has_children == true %}
                    {% assign grandchildren_list = sorted_pages | where: "parent", child.title %}
                    <ul class="nav-list">
                    {% for grandchild in grandchildren_list %}
                      {% if grandchild.title and grandchild.nav_exclude != true %}
                        <li class="nav-list-item {% if page.url == grandchild.url %} active{% endif %}">
                          <a href="{{ grandchild.url | absolute_url }}" class="nav-list-link{% if page.url == grandchild.url %} active{% endif %}">{{ grandchild.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
